.one{
    color: rgb(37, 116, 116);
    margin: 10px;
    font-weight: bold;
    font-size: large;
}
#id1{
    width: 220px;
    height: 100px;
}
body{
    text-align: center;
}
input[type="submit"]{
    background-color: lightgreen;
    color: black;
}
input[type="submit"]:hover{
    background-color: green;
}